body{
    /*background halaman web */
    background-color: crimson;
}

.wrapper {

}

.container {
    width: 1000px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #FF9671;
}

.sidebar{
    width: 400px;
    float: left;
}

.content{
    width: 600px;
    height: 550px;
    float: right;
}

.clear {
    clear: both;
}

#logo{
    float:left;
    width: 200px;
    height: auto;
    padding: 20px;
}

#logo img{
    max-width: 75%;
    height: auto;
}

#menu{
    padding-top: 60px;
    padding-bottom: 60px;
    float: right;
    width: 750px;
}

#menu li{
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

#menu li a{
    font-family: Verdana, Ganeva, Tahoma, sans-serif;
    color: crimson;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.blog-single{
    float: left;
    max-width: 55px;
    margin-right: 65px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.blog-content img{
    width: 600px;
    height: 200px;
    object-fit: cover;
}

.recent-article{
    padding-right: 10px;
    padding-left: 10px;
}

.recent-article ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

